<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>[[$title]]</title>

    <link rel="stylesheet" type="text/css" href="/application/assets/themes/[[theme]]/bootstrap.min.css" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js"></script>
    <script src='http://code.jquery.com/jquery-1.12.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
    <script src="/[[loader]]"></script>

</head>

<body>
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <!-- li><a href="#">Page 1</a></li -->
        </ul>
      </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12" id='service-messages-container'><service-messages></service-messages></div>
        </div>
        <div>
            [[view]]
        </div>
    </div>

</body>
    <script>
        Peanut.PeanutLoader.startApplication('[[vmname]]');
    </script>
</html>
